# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.db
env/
venv/
.env

# Flask stuff
instance/
*.pyc

# VSCode
.vscode/

# Node.js / Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Others
*.log
